#category-block h1 {
  color: #4A4A4A;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
#category-block .cat-desc {
  margin-left: 13px;
  position: relative;
  line-height: 20px;
}
#category-block .cat-desc #seeMoreDesc {
  color: #616161;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.19px;
  line-height: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
#category-block .cat-desc:before {
  width: 5px;
  border-radius: 3px;
  background-color: #E9E1DA;
  content: '';
  height: calc(100% - 8px);
  margin: 4px 0;
  position: absolute;
  left: -13px;
}
#category-block #sideBar {
  width: 20%;
}
#category-block #products-block {
  width: 80%;
  padding-left: 15px;
}
/* FILTROS MOBILE */
#category-block.mobileMode #sideBar:not(.active) {
  width: 50%;
}
#category-block.mobileMode #sideBar.active {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FBFAF9;
  z-index: 999;
}
#category-block.mobileMode #sideBar:not(.active) #filter-container {
  display: none;
}
#category-block .block-subtitle {
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #EBE7E4;
  border-bottom: 1px solid #EBE7E4;
  padding: 12px 0;
  background-color: #F4F3F1;
  margin: 0;
  text-align: center;
  height: 48px;
}
#category-block.mobileMode .filter_block {
  padding: 12px 18px;
  margin-bottom: 0px !important;
}
#category-block.mobileMode .filter_block .title {
  margin: 0;
}
#category-block.mobileMode #filter-container.active .filter_block:not(.active) {
  display: none;
}
.back-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 20px;
}
.icon-close {
  font-size: 25px;
}
.block-subtitle .icon-filter:before {
  color: #d2cbb8;
  font-size: 18px;
  margin-right: 4px;
}
#category-block.mobileMode .toolbar {
  background-color: #F4F3F1;
  margin: 0;
  text-align: center;
  height: 48px;
}
#category-block.mobileMode .filter_block ul,
#category-block.mobileMode .filter_block ol {
  height: calc(100vh - 74px);
}
#category-block:not(.mobileMode) .filter_block ul,
#category-block:not(.mobileMode) .filter_block ol {
  max-height: 521px;
}
#category-block.mobileMode .filter_block:not(.active) ol,
#category-block.mobileMode .filter_block:not(.active) ul {
  display: none;
}
#category-block.mobileMode .toolbar {
  width: 50%;
}
#category-block.mobileMode .toolbar .toolbar-filters-item,
#category-block.mobileMode .toolbar .pager,
#category-block.mobileMode .toolbar label {
  display: none;
}
#category-block:not(.mobileMode) .filter_block .title .icon-angle-down {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 26px;
}
#category-block.mobileMode .filter_block .title .icon-angle-down {
  margin-left: auto;
  -webkit-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
  font-size: 26px;
}
#category-block:not(.mobileMode) .title.activeDesktop .icon-angle-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* END FILTROS MOBILE */
#category-block .note-msg {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  padding: 20px 10px;
  margin-top: 5px;
}
#category-block.mobileMode #products-block {
  width: 100%;
  padding-left: 0px;
}
#category-block .filter_block {
  border: 1px solid #EBE7E4;
  background-color: #FBFAF9;
  padding: 18px;
}
#category-block:not(.mobileMode) .filter_block {
  border-radius: 6px;
}
#category-block .filter_block .title {
  color: #4A4A4A;
  font-family: "brandon-grotesque";
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  display: flex;
}
#category-block .filter_block ul li a,
#category-block .filter_block ul li span {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}
#category-block:not(.mobileMode) .filter_block ul li a:hover,
#category-block:not(.mobileMode) .filter_block ul li span:hover {
  color: #4A4A4A;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}
#category-block .filterCheck {
  padding-left: 26px;
  position: relative;
  display: block;
}
#category-block .filterCheck:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  background-color: #FFFFFF;
}
#category-block .filterCheck.selected:before {
  background-color: #5CB8A3;
}
#category-block .filterCheck.selected:after {
  position: absolute;
  left: 4px;
  top: 50%;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e90f";
}
#category-block .filterCheck .filter-attr-item-extra {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 13px;
  width: 70px;
  background-image: url(star_empty.svg);
  background-repeat: repeat-x;
  background-size: contain;
  display: inline-block;
}
#category-block .filterCheck .filter-attr-item-extra::after {
  content: ' ';
  background-image: url(star_filled.svg);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100%;
  display: block;
}
#category-block .filter_block li .filterCheck.reviewsCheck .filterQuantityContainer {
  margin-left: 75px;
}
@media (min-width: 769px) {
  #category-block .filterCheck .filter-attr-item-extra {
    top: 15%;
  }
  #category-block .filter_block li .filterCheck.reviewsCheck .filterQuantityContainer {
    margin-left: 0px;
    padding-top: 20px;
  }
}
@media (min-width: 1100px) {
  #category-block .filterCheck .filter-attr-item-extra {
    top: 50%;
  }
  #category-block .filter_block li .filterCheck.reviewsCheck .filterQuantityContainer {
    margin-left: 75px;
    padding-top: 0px;
  }
}
/*#category-block .filter_block li:last-child .filterCheck.reviewsCheck .filterQuantity {
    margin-left: 75px;
  }*/
#category-block .filterCheck[data-text*='4'] .filter-attr-item-extra::after {
  width: 80%;
}
#category-block .filterCheck[data-text*='3'] .filter-attr-item-extra::after {
  width: 60%;
}
#category-block .filterCheck[data-text*='2'] .filter-attr-item-extra::after {
  width: 40%;
}
#category-block .filterCheck[data-text*='1'] .filter-attr-item-extra::after {
  width: 20%;
}
#category-block .filter_block ul li a .filterQuantity,
#category-block .filter_block ul li span .filterQuantity {
  color: #C0C0C0;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin-left: 4px;
}
#category-block .filter_block .price-filter .row-wrap {
  width: 75px;
}
#category-block .filter_block .price-filter .row-wrap .css-15k3avv {
  margin-top: 0px;
}
#category-block .filter_block .price-filter .row-wrap:first-child {
  margin-right: 10px;
}
#category-block .filter_block .price-filter .row-wrap svg {
  color: black;
  font-size: 9px;
  width: 13px;
}
#category-block .filter_block .price-filter .row-wrap .css-d8oujb {
  display: none;
}
#category-block .filter_block .price-filter .row-wrap .css-xp4uvy {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 500;
}
#category-block ol,
#category-block ul {
  list-style: none;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: auto;
  margin-top: 15px;
}
#category-block ol.price-filter {
  overflow: visible;
}
#category-block ol li,
#category-block ul li {
  padding: 1.5px 0;
}
#category-block .filter_block ul.cont-showmore li a span {
  color: #C0C0C0;
  font-family: "brandon-grotesque", Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.21px;
  line-height: 19px;
  text-transform: uppercase;
}
#category-block .filter_block ul.cont-showmore li a span:hover {
  opacity: 1;
  text-decoration: underline;
}
/** TOOLBAR ***/
#category-block .toolbar {
  height: 45px;
  border: 1px solid #EBE7E4;
  border-radius: 6px;
  background-color: #FBFAF9;
}
#category-block .toolbar .amshopby-attr {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}
#category-block .toolbar .count-container {
  color: #A2A2A2;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.21px;
  line-height: 19px;
}
#category-block .toolbar .sort-by {
  color: #808080;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
#category-block .toolbar .sort-by label {
  margin: 0;
  padding: 0;
}
#category-block .toolbar .sort-by label:before {
  content: ' ';
  width: 16px;
  height: 17px;
  display: inline-block;
  background-size: 94%;
  background-image: url(https://cdn.naturitas.es/skin/frontend/rwd/naturitas/images/blue.svg);
}
#category-block .toolbar .sort-by label span {
  padding-left: 3px;
}
/* View More */
#category-block .tool-wrap {
  width: 112px;
  background-color: #BEBEBE;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 2px;
}
#category-block .tool-wrap .tool-line {
  height: 4px;
  border-radius: 2.5px;
  background-color: #CCDC45;
}
#category-block .toolbar-ajax {
  text-align: center;
}
#category-block .toolbar-bottom {
  margin: 30px 0;
}
#category-block .toolbar-ajax .i-next {
  width: auto;
  color: #616161;
  font-family: "brandon-grotesque", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.26px;
  line-height: 23px;
  padding: 14px 35px;
  margin: 10px 0;
  height: auto;
  border: 2px solid #E0E0E0;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  display: inline;
  cursor: pointer;
}
#category-block .customSelect {
  width: 200px;
}
#category-block .customSelect .css-vj8t7z,
#category-block .customSelect .css-2o5izw {
  background-color: transparent;
  border: 0;
}
/* page-notfound */
#page-notfound {
  padding: 30px 0px;
}
#page-notfound .searchresult-title-container .title {
  text-align: center;
}
#page-notfound .searchresult-title-container .title span {
  color: #4A4A4A;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}
#page-notfound .searchresult-image-container {
  margin: auto;
  text-align: center;
  padding: 10px 0px 20px;
}
#page-notfound .searchresult-subtitle-container {
  color: #4A4A4A;
  font-family: "brandon-grotesque";
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 2rem;
}
#page-notfound .searchresult-subtitle-container p {
  margin-bottom: 0.5rem;
}
#page-notfound .searchresult-tips-container {
  background-color: #FBFAF9;
  border-radius: 8px;
  padding: 20px;
}
#page-notfound .searchresult-tips-container ul {
  color: #4A4A4A;
  font-family: "brandon-grotesque";
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding-left: 0;
  list-style: inside;
  max-width: 230px;
  margin: auto;
}
#page-notfound .searchresult-block {
  margin-bottom: 2rem;
}
@media (min-width: 769px) {
  #page-notfound .searchresult-tips-container {
    max-width: 400px;
    margin: auto;
  }
  #page-notfound .searchresult-tips-container ul {
    max-width: none;
    margin: auto;
  }
}
#page-notfound #categoryBlockLinks .categoryBlockLink .overlay a:hover {
  text-decoration: none;
}
ul.single-choice.price-filter.d-flex.h-auto.price-hidden {
  display: none !important;
}
#category-block.mobileMode .filter_block .title.isSelect span::after {
  content: " ";
  padding-left: 5px;
  width: 20px;
  height: 20px;
  background-image: url("img/checked.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: bottom;
  margin-left: 10px;
}
#category-block .block-subtitle span.areFilters {
  /*background-image: url(img/checked.svg);
  padding-left: 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: bottom;*/
  margin-left: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #5cb8a3;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 14px;
}

#category-block .toolbar .sort-by .css-bg1rzq-control {
  border: none;
  background: transparent;
}
#category-block .toolbar .sort-by .css-bgvzuu-indicatorSeparator {
  display: none;
}
.cont-showmore {
  margin-top: 0px!important;
}
#category-block .block-subtitle span {
  font-size: 16px;
  font-weight: 500;
}
#category-block .toolbar .sort-by .css-bg1rzq-control .css-dvua67-singleValue {
  color: #a2a2a2;
}
@media (max-width: 769px) {
  #sideBar.active .back-icon.toggleShow.my-auto.ml-3 {
    display: inline-block;
    float: left;
  }
  #sideBar.active .m-auto.title-filter-center {
    display: inline-block;
    margin-right: 60px !important;
  }
  #category-block .block-subtitle i.icon-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
   /*NAT-293 Ampliar campo precios*/
  #category-block.mobileMode .filter_block ul.single-choice.price-filter.d-flex.h-auto {
    height: 370px !important;
  }
  #category-block #sideBar.active .block-subtitle span.areFilters {
    display: none;
  }
  #category-block .customSelect {
    width: 150px;
  }
  #category-block .toolbar .sort-by .css-bg1rzq-control .css-16pqwjk-indicatorContainer,
  #category-block .toolbar .sort-by .css-1thkkgx-indicatorContainer {
    position: absolute;
    color: #4a4a4a;
  }
  .customSelect .css-1szy77t-control,
  .customSelect .css-1szy77t-control:hover {
    border-color: transparent;
    box-shadow: none;
  }
  #category-block .toolbar {
    border-radius: 0px;
  }
  #category-block .toolbar .sort-by .css-bg1rzq-control .css-dvua67-singleValue {
    color: #4a4a4a;
    font-size: 16px;
  }
}
@media (max-width:768px){
  #category-block .block-subtitle.d-md-none{
      display: block !important;
  }
}